[Unit]
Description=NodeBB forum
Documentation=https://docs.nodebb.org
After=network.target postgresql.service

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__
Environment=NODE_ENV=production
PIDFile=/var/www/nodebb/pidfile
Environment="PATH=__ENV_PATH__"
ExecStart=__YNH_NPM__ node loader.js
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodebb
Restart=always

[Install]
WantedBy=multi-user.target
